
<p>Listado de documentos</p>
<div *ngFor="let item of items">
  <div>
    Nombre personalizado: {{ item.nombrePersonalizado }}
  </div>
  <div>
    Nombre real: {{ item.nombreReal }}
  </div>
  <div>
    Extensión: {{ item.extension }}
  </div>
  <div>
    Mime Type: {{ item.mimeType }}
  </div>
  <div>
    Adjunto: {{ item.archivo }}
  </div>
</div>

<mat-form-field>
  <mat-label>Alias del documento</mat-label>
  <input required [formControl]="nombrePersonalizadoControl" matInput>
</mat-form-field>

<input
  type="file"
  [multiple]="false"
  (change)="cargarDocumento($event)"
  #fileInput>


<button (click)="agregarDocumento()" mat-raised-button color="primary">Agregar documento</button>
 